$form-mdctrl-md: (
  width-button: calc(100% - getCssVar(spacing, base) * 2),
  spacing-content-margin: 0 getCssVar('spacing', 'tight'),
  spacing-actions-gap: getCssVar('spacing', 'tight'),
  spacing-actions-padding: getCssVar(spacing, tight) 0,
  spacing-actions-margin: 0 getCssVar('spacing', 'tight'),
);

@include b(form-mdctrl-md) {
  @include set-component-css-var('form-mdctrl-md', $form-mdctrl-md);
  display: flex;
  flex-direction: column;
  height: 100%;
}

@include b(form-mdctrl-md-content) {
  flex-grow: 1;
  margin: getCssVar('form-mdctrl-md', 'spacing-content-margin');

  &.#{bem(control)}{
    width: auto;
  }
}

@include b(form-mdctrl-md-actions) {
  display: flex;
  gap: getCssVar('form-mdctrl-md', 'spacing-actions-gap');
  padding: getCssVar('form-mdctrl-md', 'spacing-actions-padding');
  margin: getCssVar('form-mdctrl-md', 'spacing-actions-margin');

  .van-button+.van-button {
    margin-left: 0;
  }

  @include e(btn) {
    width: getCssVar('form-mdctrl-md', 'width-button');
  }
}