$form-mdctrl: (
  color-header-bg: getCssVar(color, bg, 0),
  color-text: getCssVar(color, text, 1),
  spacing-header-padding: getCssVar(spacing, base),
  font-caption-fontSize: getCssVar(font-size, header-6),
  font-caption-fontWeight: getCssVar(font-weight, regular),
  font-caption-linHeight: getCssVar(font-size, header-5),
);

@include b(form-mdctrl) {
  @include set-component-css-var(form-mdctrl, $form-mdctrl);

  height: 100%;

  // 分组标题
  @include e(title) {
    @include utils-ellipsis;

    font-size: getCssVar(form-mdctrl, font-caption-fontSize);
    font-weight: getCssVar(form-mdctrl, font-caption-fontWeight);
    line-height: getCssVar(form-mdctrl, font-caption-linHeight);
    color: getCssVar(form-mdctrl, color-text);
  }

  @include m(has-value) {
    @include b(form-mdctrl-header) {
      display: none;
    }
  }
}

@include b(form-mdctrl-header) {
  display: flex;
  padding: getCssVar(form-mdctrl, spacing-header-padding);
  background-color: getCssVar(form-mdctrl, color-header-bg);
}