/** 定义网站 HTML 元素的样式（如 H1 标签默认样式等），或者基础样式 **/
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.ibiz-app {
  width: 100vw;
  height: 100vh;
}

// 滚动条
::-webkit-scrollbar {
  width: 0;
  height: rem(6px);
}

::-webkit-scrollbar-thumb {
  background: getCssVar(color, tertiary, light, active);
}

div::-webkit-scrollbar {
  width: 0;
  height: rem(6px);
}

div::-webkit-scrollbar-thumb {
  background: getCssVar(color, tertiary, light, active);
}

// 小型移动设备
@media screen and (min-width: 320px) {
  html{
    font-size: 12px;
  }
}
// 中型移动设备
@media screen and (min-width: 375px) {
  html{
    font-size: 14px;
  }
}
// 大型移动设备
@media screen and (min-width: 425px) {
  html { font-size: 16px; }
}
// 平板电脑
@media screen and (min-width: 768px) {
  html { font-size: 18px; }
}
// 笔记本电脑
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
// 大型笔记本电脑
@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}