$tab-dropdown-list-content: (
  // Color
  color-item-text: getCssVar('tab-dropdown', 'color-text'),
  color-item-text-active: getCssVar('tab-dropdown', 'color-text-active'),
  color-wrapper-bg: getCssVar('color', 'bg', 1),
  // Width/Height
  width-list-content: rem(90px),
  height-item: getCssVar('height-control', 'default'),
  // Spacing
  spacing-wrapper-padding: getCssVar('spacing', 'extra-tight') 0,
  spacing-item-padding: 0 getCssVar('spacing', 'tight'),
  // Radius
  radius-circle: getCssVar(border, radius, medium),
  // Font
  font-item-fontSize: getCssVar('tab-dropdown', 'font-tab-fontSize'),
  // Other
  right-offset: getCssVar('spacing', 'tight'),
  box-shadow: getCssVar(shadow, elevated),
);

@include b('tab-dropdown-list-content') {
  @include set-component-css-var(
    'tab-dropdown-list-content',
    $tab-dropdown-list-content
  );

  width: getCssVar(tab-dropdown-list-content, width-list-content);
  padding-right: getCssVar(tab-dropdown-list-content, right-offset);

  @include e('wrapper') {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: getCssVar(tab-dropdown-list-content, spacing-wrapper-padding);
    background-color: getCssVar(tab-dropdown-list-content, color-wrapper-bg);
    border-radius: getCssVar(tab-dropdown-list-content, radius-circle);
    box-shadow: getCssVar(tab-dropdown-list-content, box-shadow);
  }

  @include e('item') {
    padding: getCssVar(tab-dropdown-list-content, spacing-item-padding);
    font-size: getCssVar(tab-dropdown-list-content, font-item-fontSize);
    color: getCssVar(tab-dropdown-list-content, color-item-text);
    white-space: nowrap;

    .#{bem(info-item)} {
      width: 100%;
      min-height: getCssVar(tab-dropdown-list-content, height-item);
    }
    .#{bem(info-item, label)} {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include when('active') {
      color: getCssVar(tab-dropdown-list-content, color-item-text-active);
    }
  }

  @include e('modal') {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }
}
