$panel-component-view-header: (
    'color-bg-color': getCssVar(color, bg, 1),
    'font-back-fontSize': getCssVar('font-size', 'header', 6),
    'spacing-back-padding': 0 getCssVar('spacing', 'tight'),
    'width-back-width' : rem(40px), 
    'height-back-height' : 100%,
    'color-text':getCssVar('color', 'text', 0),
);

@include b('view-header') {
    @include set-component-css-var('panel-component-view-header', $panel-component-view-header);

    position: relative;
    color: getCssVar('panel-component-view-header', 'color-text');
    background-color: getCssVar('panel-component-view-header', 'color-bg-color');

    @include m(precut-back) {
        .#{bem(panel-container,'',view_left_toolbar)}{
            padding-left: getCssVar('panel-component-view-header', 'width-back-width');
        }
    }
}