@include b('preset-view-back') {
    position: absolute;
    display: flex;
    align-items: center;
    width: getCssVar('panel-component-view-header', 'width-back-width');
    height: getCssVar('panel-component-view-header', 'height-back-height');
    padding: getCssVar('panel-component-view-header', 'spacing-back-padding');
    font-size: getCssVar('panel-component-view-header', 'font-back-fontSize');
}

// 预制返回预留空间时的样式
@include b(view-header-precut-back) {
    @include b('control-toolbar-left') {
        padding-left: getCssVar('panel-component-view-header', 'width-back-width');
    }
}