$emoji-categories: (
  // 颜色
  color-hover-color: getCssVar('color', 'primary'),
  color-category-color: getCssVar('color', 'text', 1),
  // 间距
  spacing-padding: 0 getCssVar('spacing', 'base-loose'),
  spacing-margin-bottom: getCssVar('spacing', 'tight'),
  // 字体大小
  font-category-fontSize: getCssVar('font-size', 'header-4'),
  font-category-lineHeight: getCssVar('font-size', 'header-6'),
  // 宽高
  width-category-min-width: getCssVar('font-size', 'header-4'), 
  height-category: getCssVar('height-control', 'large'),
  // 边框
  border-category-border-top: getCssVar('spacing', 'super-tight') solid getCssVar('color', 'primary'),
);

@include b('emoji-categories') {
  @include set-component-css-var(emoji-categories, $emoji-categories);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: getCssVar('emoji-categories', 'height-category');
  padding: getCssVar('emoji-categories', 'spacing-padding');
  margin-bottom: getCssVar('emoji-categories', 'spacing-margin-bottom');
  overflow-x: auto;

  @include e('category') {
    display: flex;
    align-items: center;
    min-width: getCssVar('emoji-categories', 'width-category-min-width');
    height: 100%;
    font-size: getCssVar('emoji-categories', 'font-category-fontSize');
    cursor: pointer;

    @include m('svg') {
      line-height: getCssVar('emoji-categories', 'font-category-lineHeight');

      svg {
        fill: getCssVar('emoji-categories', 'color-category-color');
      }
    }

    &:hover,
    &.is-active {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        content: '';
        border-top: getCssVar('emoji-categories', 'border-category-border-top');
      }
    }

    &:hover {
      color: getCssVar('emoji-categories', 'color-hover-color');

      svg {
        fill: getCssVar('emoji-categories', 'color-hover-color');
      }
    }
  }
}
