$menu-design: (
  // Color
  'color-list-bg': getCssVar(color, bg, 0),
  'color-primary-btn-text': getCssVar(color, primary), // 主要按钮文字颜色
  // Spacing
  'spacing-padding': getCssVar(spacing, base), // 当前组件默认内间距
  'spacing-header-padding': 0 0 getCssVar('spacing', 'tight'), // 当前组件头部内间距
  // Radius
  'radius-item-circle': getCssVar(border, radius, medium), // 树节点项圆角
  // Font
  'font-header-font-size': getCssVar(font-size, header, 5), // 当前组件头部标题字体大小
  'font-header-caption-font-weight': getCssVar(font-weight, bold), // 当前组件头部标题字体粗细
  'font-close-icon-font-size': getCssVar(font-size, header, 3), // 当前组件头部关闭图标字体大小
  'font-item-font-size': getCssVar('font-size', 'header-6'), // 树节点项图标大小
);
@include b(menu-design) {
  @include set-component-css-var('menu-design', $menu-design);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: getCssVar(menu-design, spacing-padding);
  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getCssVar(menu-design, spacing-header-padding);
    font-size: getCssVar(menu-design, font-header-font-size);
    @include m(close-icon) {
      font-size: getCssVar(menu-design, font-close-icon-font-size);
    }
    @include m(caption) {
      font-weight: getCssVar(menu-design, font-header-caption-font-weight);
    }
    @include m(save) {
      color: getCssVar(menu-design, color-primary-btn-text);
    }
  }

  @include e(content) {
    flex: 1;
    overflow-y: auto;
  }

  @include when(list) {
    background-color: getCssVar(menu-design, color-list-bg);
  }
}
