$mdctrl-container-header: (
  color-bg: getCssVar(color, bg, 0),
  color-border: getCssVar(color, border),
  spacing-padding: getCssVar(spacing, base),
);

$mdctrl-container-caption: (
  color-text: getCssVar(color, text, 2),
  font-fontSize: getCssVar(font-size, header-6),
  font-fontWeight: getCssVar(font-weight, regular),
  font-lineHeight: getCssVar(font-size, header-5),
);
$mdctrl-container-button: (
  color-text: getCssVar(color, primary),
  font-fontSize: getCssVar(font-size, header-6),
  font-fontWeight: getCssVar(font-weight, regular),
);

$mdctrl-container-content: (
  color-bg: getCssVar(color, bg, 1),
);

$mdctrl-container-footer: (
  font-fontSize: getCssVar(font-size, header-5),
  color-bg: getCssVar(color, bg, 1),
  spacing-icon-gap: getCssVar(spacing, extra-tight),
);


@include b(mdctrl-container) {
  @include set-component-css-var('mdctrl-container-header', $mdctrl-container-header);
  @include set-component-css-var('mdctrl-container-caption', $mdctrl-container-caption);
  @include set-component-css-var('mdctrl-container-button', $mdctrl-container-button);
  @include set-component-css-var('mdctrl-container-content', $mdctrl-container-content);
  @include set-component-css-var('mdctrl-container-footer', $mdctrl-container-footer);

  display: flex;
  flex-direction: column;
}

@include b(mdctrl-container-item) {
  overflow: hidden;

  @include e(form) {
    flex-grow: 1;
  }

  @include b(mdctrl-container-item-header) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: getCssVar('mdctrl-container-header', 'spacing-padding');
    background-color: getCssVar('mdctrl-container-header', 'color-bg');

    @include e(caption) {
      flex-grow: 1;
      font-size: getCssVar('mdctrl-container-caption', 'font-fontSize');
      font-weight: getCssVar('mdctrl-container-caption', 'font-fontWeight');
      line-height: getCssVar('mdctrl-container-caption', 'font-lineHeight');
      color: getCssVar('mdctrl-container-caption', 'color-text');
      @include utils-ellipsis;
    }
  }

  @include b(mdctrl-container-item-content) {
    background-color: getCssVar('mdctrl-container-content', 'color-bg');

    @include e(remove-btn) {
      height: 100%;
    }
  }
}

@include b(mdctrl-container-footer) {
  .#{bem('mdctrl-container', 'btn')} {
    width: 100%;
    font-size: getCssVar('mdctrl-container-footer', 'font-fontSize');
    color: getCssVar('mdctrl-container-button', 'color-text');
    background-color: getCssVar('mdctrl-container-footer', 'color-bg');
    border: none;

    .van-icon {
      margin-right: getCssVar('mdctrl-container-footer', 'spacing-icon-gap');
    }
  }
}