$control-wizard-panel: (
  'spacing-footer-margin': getCssVar('spacing', 'loose') getCssVar('spacing', 'tight'),
  'spacing-footer-gap': getCssVar('spacing', 'tight'),
  'color-active': getCssVar('color', 'primary'),
);

@include b(control-wizardpanel) {
  @include set-component-css-var('control-wizard-panel', $control-wizard-panel);

  display: flex;
  flex-direction: column;
  height: 100%;

  .van-steps {
    flex: none;
  }
  .van-step--process {
    color: getCssVar('control-wizard-panel', 'color-active');
  }

  @include e(form) {
    flex-grow: 1;
    overflow: auto;
  }
}


@include b(control-wizardpanel-footer) {
  @include flex(row, flex-end, center);

  gap: getCssVar('control-wizard-panel', 'spacing-footer-gap');
  margin: getCssVar('control-wizard-panel', 'spacing-footer-margin');

  button {
    flex-grow: 1;
  }
}