$rawitem: (
  'color-rawitem-color': getCssVar(editor, default, text-color),
  'spacing-view-message-padding': getCssVar(view-message, padding),
  font-fontSize: getCssVar(editor, default, font-size),
  font-lineHeight: getCssVar(editor, default, line-height),
);
@include b(rawitem) {
  @include set-component-css-var('rawitem', $rawitem);

  width: 100%;
  height: 100%;
  font-size: getCssVar(rawitem, font-fontSize);
  line-height: getCssVar(rawitem, font-lineHeight);
  color: getCssVar(rawitem, color-rawitem-color);

  @include e('video') {
    video {
      width: 100%;
    }
  }

  @include e('html'){
    overflow: auto;
  }

  @include b(icon) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.#{bem(rawitem--info)},
  &.#{bem(rawitem--warning)},
  &.#{bem(rawitem--error)} {
    padding: getCssVar(rawitem, spacing-view-message-padding);
  }
}
