$markdown: (
  // 颜色
  color: getCssVar(editor, default, text-color),
  color-toolbar-bg: getCssVar(color, bg, 2),
  color-previewer-bg: getCssVar(color, bg, 1),
  color-active: getCssVar(editor, default, active-text-color),
  color-disabled: getCssVar(editor, disabled, text-color),
  color-readonly: getCssVar(editor, readonly, text-color),
);

@include b(markdown) {
  @include set-component-css-var('markdown', $markdown);
  @include b(markdown-cherry) {
    @include set-component-css-var('markdown', $markdown);

    width: 100%;

    .cherry {
      width: 100%;
      color: getCssVar('markdown', 'color');
    }

    .cherry-previewer {
      background-color: getCssVar(markdown, color-previewer-bg);
    }

    @include when('hidden') {
      display: hidden;
    }
  }

  @include b(markdown-image-popup) {
    overflow: visible;
    background-color: transparent;
  }

  @include b(markdown-dialog) {
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    height: 100%;
    margin: 0;
    border-radius: 0;
    text-align: left;

    .van-dialog__content {
      flex-grow: 1;
      height: calc(100% - #{rem(48px)});
    }

    // 重置背景颜色与边框颜色
    .cherry,
    .cherry-editor,
    .cherry-toolbar,
    .cherry-editor .CodeMirror,
    .cherry-toolbar .cherry-toolbar-button:hover,
    .cherry-floatmenu .cherry-toolbar-button:hover,
    .cherry-dropdown .cherry-dropdown-item:hover {
      background-color: transparent;
      border: none;
    }

    // 工具栏及下拉框背景颜色
    .cherry-floatmenu,
    .cherry-toolbar,
    .cherry-dropdown {
      background-color: getCssVar(markdown, color-toolbar-bg);
    }

    // 工具栏与内容区的字体颜色
    .cherry-toolbar .cherry-toolbar-button,
    .cherry-editor .CodeMirror,
    .cherry-editor .CodeMirror .CodeMirror-scroll span,
    .cherry-dropdown .cherry-dropdown-item {
      color: getCssVar('markdown', 'color');
    }

    // 工具栏激活颜色
    .cherry-toolbar .cherry-toolbar-button:hover,
    .cherry-floatmenu .cherry-toolbar-button:hover,
    .cherry-dropdown .cherry-dropdown-item:hover {
      color: getCssVar('markdown', 'color-active') !important;
    }
  }

  @include when(disabled) {
    .cherry {
      min-height: auto;
    }
  }

  .van-field__value {
    max-width: 100%;
  }

  .cherry-preview--full {
    border-left: none;
  }

  .theme__light,
  .theme__dark {
    color: getCssVar('markdown', 'color');
  }

  .cherry-markdown h1,
  .cherry-markdown h2,
  .cherry-markdown h3,
  .cherry-markdown h4,
  .cherry-markdown h5,
  .cherry-markdown h6 {
    a::before {
      display: none;
    }
  }

  .cherry-toolbar {
    overflow-x: auto;
  }

  .cherry *::-webkit-scrollbar {
    width: rem(7px);
    height: rem(3px);
    background: rgb(0 0 0 / 0%);
  }

  .cherry-markdown a {
    display: block;
  }

  .cherry-markdown img {
    max-width: 100%;
  }

  .cherry.cherry--no-toolbar .cherry-previewer {
    min-height: 100px;
  }

  .cherry-toolbar-button {
    border: none;
  }

  // 修复设置工具栏弹框内容溢出
  .cherry-dropdown[name="settings"] {
    right: getCssVar(spacing, tight) !important;
    left: auto !important;
  }

  @include m(disabled) {
    color: getCssVar('markdown', 'color-disabled');

    .cherry {
      color: getCssVar('markdown', 'color-disabled');
    }
  }

  @include m(readonly) {
    --van-field-input-text-color: #{getCssVar('markdown', 'color-readonly')};

    .cherry {
      color: getCssVar('markdown', 'color-readonly');
    }
  }
}
