$form-page: (
);

@include b(form-page-header) {
  @include set-component-css-var('form-page', $form-page);

  display: flex;
  flex-direction: column;
  height: 100%;


  .van-tabs__wrap {
    flex-shrink: 0;
  }
  
  .van-tabs__content {
    flex: 1;
    min-width: 0;
    min-height: 0;
  }
}