$async-action-preview: (
  // 颜色
  color-detail-item-index-text: getCssVar(color, primary, text),
  color-detail-item-index-bg: getCssVar(color, primary),
  color-van-field-bg: var(--van-dialog-background),
  // 间距
  spacing-detail-item-index-margin-right: getCssVar('spacing', 'base'),
  spacing-preview-time-padding: getCssVar(spacing, base) 0,
  spacing-detail-item-padding: getCssVar('spacing', 'base-tight')
    getCssVar(spacing, base),
  spacing-button-margin-left: rem(6px),
  // 宽高
  width-button: rem(20px),
  width-detail-item-index: getCssVar('height-control', 'large'),
  height-button: rem(20px),
  height-header: rem(32px),
  height-count: rem(48px),
  height-detail-item: rem(72px),
  height-count-padding: getCssVar(spacing, tight) 0,
  height-detail-item-index: getCssVar('height-control', 'large'),
  // 字体大小
  font-van-field-fontSize: rem(12px),
  font-detail-item-index-fontSize: getCssVar('font-size', 'header-4'),
  font-detail-item-index-lineHeight: getCssVar('height-control', 'large'),
  font-van-field-fontWeight: getCssVar('font-weight', 'bold'),
  // 其他
  border-header-border-bottom: rem(1px) solid getCssVar(color, border),
  border-detail-border-top: rem(1px) solid getCssVar(color, border),
  border-detail-item-border-bottom: rem(1px) solid getCssVar(color, border),
);

@include b(async-action-preview) {
  @include set-component-css-var('async-action-preview', $async-action-preview);

  height: 100%;
  @include flex(column);

  padding: getCssVar(spacing, tight);

  @include e(title) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    overflow: hidden;
    font-size: getCssVar('font-size', 'header-5');
    font-weight: getCssVar('font-weight', 'bold');
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }

  .van-field__label,
  .van-field__value {
    font-size: getCssVar(async-action-preview, font-van-field-fontSize);
    font-weight: getCssVar(async-action-preview, font-van-field-fontWeight);
  }

  .van-field {
    background: getCssVar(async-action-preview, font-van-field-bg);
  }

  @include e(button) {
    width: getCssVar(async-action-preview, width-button);
    height: getCssVar(async-action-preview, height-button);
    margin-left: getCssVar(async-action-preview, spacing-button-margin-left);
  }
}

@include b(async-action-preview-toolbar) {
  @include flex(row, center, center);
}

@include b(async-action-preview-header) {
  @include flex(row, flex-end, center);

  position: relative;
  height: getCssVar(async-action-preview, height-header);
  border-bottom: getCssVar(async-action-preview, border-header-border-bottom);
}

@include b(async-action-preview-time) {
  padding: getCssVar(async-action-preview, spacing-preview-time-padding);
}

@include b(async-action-preview-count) {
  height: getCssVar(async-action-preview, height-count);
  padding: getCssVar(async-action-preview, height-count-padding);
  @include flex(row, space-between, center);

  .van-field__label {
    margin: 0;
  }
}

@include b(async-action-preview-detail) {
  flex-grow: 1;
  overflow: auto;
  border-top: getCssVar(async-action-preview, border-detail-border-top);
}

@include b(async-action-preview-detail-item) {
  @include flex(row, space-between, center);

  height: getCssVar(async-action-preview, height-detail-item);
  padding: getCssVar(async-action-preview, spacing-detail-item-padding);
  border-bottom: getCssVar(
    async-action-preview,
    border-detail-item-border-bottom
  );

  @include e(index) {
    width: getCssVar(async-action-preview, width-detail-item-index);
    height: getCssVar(async-action-preview, height-detail-item-index);
    margin-right: getCssVar(
      async-action-preview,
      spacing-detail-item-index-margin-right
    );
    font-size: getCssVar(async-action-preview, font-detail-item-index-fontSize);
    line-height: getCssVar(
      async-action-preview,
      font-detail-item-index-lineHeight
    );
    color: getCssVar(async-action-preview, color-detail-item-index-text);
    text-align: center;
    background-color: getCssVar(
      async-action-preview,
      color-detail-item-index-bg
    );
    border-radius: 0;
  }

  @include e(error) {
    flex-grow: 1;
    height: 100%;
    text-align: left;
    @include flex(column, space-between, flex-start);
  }

  @include e(error-reason) {
    color: getCssVar(color, text, 1);
  }
}
