$form-page-item: (
    radius: getCssVar('border-radius', 'small'),
);

@include b(form-page-item) {
    @include set-component-css-var('form-page-item', $form-page-item);

    border-radius: getCssVar('form-page-item', 'radius');
}