$control-calendar: (
  // 颜色
  color-text-color: getCssVar(color-text-0),
  color-mark-color: getCssVar(color, danger),
  color-header-caption-bg: getCssVar(color, bg, 1),
  color-toolbar-color: getCssVar(color, primary),
  color-toolbar-bg: getCssVar(color, bg, 1),
  color-calendar-bg: getCssVar(color, bg, 1),
  color-calendar-main-color: getCssVar(color, primary),
  color-calendar-color: getCssVar(color, text, 0),
  color-calendar-disabled-color: getCssVar(color, disabled, text),
  color-calendar-active-color: getCssVar(color, primary),
  color-calendar-active-bg: getCssVar(color, primary, light, default),
  color-timeline-item-bg-color: getCssVar(color, border),
  color-tab-bg: transparent,
  // 字体大小
  font-calendar-item-fontSize: getCssVar(font-size, small),
  font-timeline-item-fontSize: getCssVar(width-icon, small),
  font-header-caption-fontWeight: getCssVar(font-weight, bold),
  // 间距
  spacing-item-padding: getCssVar(spacing, tight) getCssVar(spacing, base),
  spacing-item-border-gap: getCssVar(spacing, tight),
  spacing-header-caption-padding: getCssVar(spacing, base) getCssVar(spacing, tight),
  spacing-toolbar-gap: getCssVar(spacing, base),
  spacing-timeline-item-padding: getCssVar(spacing, base),
  spacing-timeline-item-margin: 0 0 getCssVar(spacing, base) 0,
  spacing-timeline-padding: getCssVar(spacing, base),
  spacing-timeline-timespan-padding: getCssVar(spacing, extra-tight) getCssVar(spacing, tight),
  spacing-timeline-item-content-margin: getCssVar(spacing, base),
  // 宽高
  height-mark-height: getCssVar(spacing, tight),
  width-mark-width: getCssVar(spacing, tight),
  // 圆角
  radius-timeline-item-border-radius: getCssVar(spacing, tight),
  // 其他
  item-border: 1px solid getCssVar(color, border),  
);

@include b(control-calendar) {
  @include set-component-css-var(control-calendar, $control-calendar);

  display: flex;
  flex-direction: column;

  @include e(day) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @include e(mark) {
    @include flex(row);

    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;

    @include m((item)) {
      width: getCssVar(control-calendar, width-mark-width);
      height: getCssVar(control-calendar, height-mark-height);
      background-color: getCssVar(control-calendar, color-mark-color);
      border-radius: 50%;
    }
  }

  @include b(control-calendar-item) {
    height: auto;
    padding: getCssVar(control-calendar, spacing-item-padding);

    // 默认项样式 不渗透到布局面板
    @include m(default) {
      overflow: hidden;
      font-size: getCssVar(control-calendar, font-calendar-item-fontSize);
      color: getCssVar(control-calendar, color-text-color);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @include m(panel) {
      position: relative;
      &::after {
        position: absolute;
        content: " ";
        pointer-events: none;
        right: getCssVar(control-calendar, spacing-item-border-gap);
        bottom: 0;
        left: getCssVar(control-calendar, spacing-item-border-gap);
        border-bottom: getCssVar(control-calendar, item-border);
      }
    }
  }


  // 日历插件样式
  .hash-calendar {
    --hash-calendar-main-font-color: #{getCssVar(control-calendar, color-calendar-color)};
    --hash-calendar-main-color: #{getCssVar(control-calendar, color-calendar-main-color)};
    --hash-calendar-disabled-font-color: #{getCssVar(control-calendar, color-calendar-disabled-color)};
    .calendar_content {
      background-color: getCssVar(control-calendar, color-calendar-bg);
    }
    .calendar_week,.calendar_group_li {
      background-color: getCssVar(control-calendar, color-calendar-bg);
    }
    .calendar_day_checked {
      color: getCssVar(control-calendar, color-calendar-active-color);
      background-color: getCssVar(control-calendar, color-calendar-active-bg);
    }
  }
}

@include b(control-calendar-footer) {
  flex: auto;
  min-height: 0;

  .van-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .van-tabs__wrap {
    flex: none;
  }

  .van-tabs__content {
    flex: auto;
    overflow-y: auto;
  }

  .van-tab__panel,
  .van-list {
    height: 100%;
  }

  @include e('tab-item') {
    .van-tab__text {
      position: relative;
      overflow: visible;
      &::before {
        content:'';
        width: 100%;
        height: rem(3px);
        bottom: rem(-8px);
        border-radius: rem(3px);
        transform: translateY(-50%);
        background-color: getCssVar(control-calendar, color-tab-bg);
        position: absolute;
      }
    }
    &.van-tab--active {
      .van-tab__text::before {
        content: unset;
      }
    }
  }
}

@include b(control-calendar-header-toolbar) {
  width: 100%;
  display: flex;
  @include e('select-day') {
    padding: getCssVar(control-calendar, spacing-header-caption-padding);
    background-color: getCssVar(control-calendar, color-header-caption-bg);
    font-weight: getCssVar(control-calendar, font-header-caption-fontWeight);
  }
  @include e('switch-toolbar') {
    flex: auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: getCssVar(control-calendar, color-toolbar-color);
    gap: getCssVar(control-calendar, spacing-toolbar-gap);
    padding-right: getCssVar(control-calendar, spacing-toolbar-gap);
    background-color: getCssVar(control-calendar, color-toolbar-bg);
  }
}

// 时间轴样式
@include b(control-calendar-timeline) {
  @include set-component-css-var(control-calendar, $control-calendar);
  padding: getCssVar(control-calendar, spacing-timeline-padding);
  overflow: auto;
  
  @include e(item) {
    margin: getCssVar(control-calendar, spacing-timeline-item-margin);
    @include m('timespan') {
      width: auto;
      display: inline-block;
      padding: getCssVar(control-calendar, spacing-timeline-timespan-padding);
      border-radius: getCssVar(control-calendar, radius-timeline-item-border-radius);
      background-color: getCssVar(control-calendar, color-timeline-item-bg-color);
    }
    @include m('content'){
      margin-top: getCssVar(control-calendar, spacing-timeline-item-content-margin);
    }
    .#{bem(control-calendar-item)}{
      padding: 0;
    }
  }
}
