$data-mpicker: (
  // 颜色
  color-cancel: getCssVar(color, text, 1),
  color-confirm: getCssVar(color, primary),
  // 间距
  padding-toolbar: getCssVar(spacing, base-tight),
  padding-item: getCssVar(spacing, base-tight),
);
@include b(data-mpicker) {
  @include set-component-css-var(data-mpicker, $data-mpicker);

  @include b(data-mpicker-toolbar) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getCssVar(data-mpicker, padding-toolbar);

    button {
      padding: 0;
      background-color: transparent;
      border: none;
    }

    @include e(confirm) {
      color: getCssVar(data-mpicker, color-confirm);
    }

    @include e(cancel) {
      color: getCssVar(data-mpicker, color-cancel);
    }
  }

  @include b(data-mpicker-columns) {
    min-height: 30vh;
    max-height: 50vh;
    overflow: auto;

    .van-cell-group {
      height: 100%;
      overflow: auto;
    }

    .van-cell {
      justify-content: flex-end;
      padding: getCssVar(data-mpicker, padding-item);
    }
  }

  .van-cell-group--inset {
    margin: 0;
  }
}