$picker: (
  // 颜色
  color: getCssVar(editor, default, text-color),
  color-icon: var(--van-field-right-icon-color),
  color-disabled: getCssVar(editor, disabled, text-color),
  color-readonly: getCssVar(editor, readonly, text-color),
  color-placeholder: getCssVar(editor, default, placeholder, color),
  
  // 字体
  font-fontSize: getCssVar(editor, default, font-size),
  font-icon-fontSize: getCssVar(font-size, header, 5),
  font-lineHeight: getCssVar(editor, default, line-height),
  font-textAlign: getCssVar(editor, default, text-align),
);

$picker-pop: (
  // 颜色
  color-search-bg: getCssVar(color, fill, 2),
  color-placeholder: getCssVar(editor, default, placeholder, color),
  color-active: getCssVar(color, primary),
  // 间距
  spacing-padding: getCssVar(spacing, base),
  spacing-caption-margin-left: getCssVar(spacing, base),
  spacing-search-margin-top: getCssVar(spacing, base),
  spacing-search-padding: getCssVar(spacing, extra-tight),
  spacing-search-icon-padding: 0 getCssVar(spacing, extra-tight),
  spacing-item-padding: getCssVar(spacing, base) 0,
  spacing-bg-item-padding: getCssVar(spacing, extra-tight) getCssVar(spacing, base),
  // 圆角
  radius-item: getCssVar(spacing, base),

  // 边框
  border: getCssVar('border-thickness', 'control') solid getCssVar(color, border),

  // 清除按钮样式
  clear-display: getCssVar(editor, default, required-style),
);

@include b('picker') {
  @include set-component-css-var(picker, $picker);

  height: 100%;
  font-size: getCssVar(picker, font-fontSize);
  line-height: getCssVar(picker, font-lineHeight);
  color: getCssVar(picker, color);

  --van-field-input-text-color: #{getCssVar(picker, color)};
  --van-cell-text-color: #{getCssVar(picker, color)};
  --van-cell-value-color: #{getCssVar(picker, color)};
  --van-cell-line-height: #{getCssVar(picker, font-lineHeight)};
  --van-cell-font-size: #{getCssVar(picker, font-fontSize)};
  --van-cell-value-font-size: #{getCssVar(picker, font-fontSize)};
  --van-field-input-disabled-text-color: #{getCssVar(picker, color-disabled)};

  .van-field {
    &::after {
      display: none;
    }
  }

  .van-field__button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: getCssVar(picker, font-lineHeight);
      padding: 0;
      color: getCssVar(picker, color-icon);
      border: none;
    }
  }

  ion-icon {
    cursor: pointer;
  }

  @include e('buns-position') {
    position: relative;
    display: inline-block;
  }

  @include e('btns') {
    position: absolute;
    right: 0;
    @include flex;

    span {
      @include flex($direction: column, $horizontal: center);
    }
  }

  @include e('autocomplete') {
    @include flex;

    .el-autocomplete {
      width: 100%;
    }
  }

  @include m(disabled) {
    pointer-events: none;
  }

  @include m(readonly) {
    @include set-component-css-var(picker, $picker);

    color: getCssVar(picker, color-readonly);
  }

  input::placeholder {
    color: getCssVar(picker, color-placeholder);
    -webkit-text-fill-color: getCssVar(picker, color-placeholder);
  }

  @include m(readonly) {
    color: getCssVar(picker, color-readonly);
    -webkit-text-fill-color: getCssVar(picker, color-readonly);
    text-align: getCssVar(picker, font-textAlign);
  }

  input {
    text-align: getCssVar(picker, font-textAlign);
  }

  @include e('pickup-search-icon'){
    display: flex;
    font-size: getCssVar(picker, font-icon-fontSize);
  }
  @include e('linkview-icon'){
    display: flex;
    font-size: getCssVar(picker, font-icon-fontSize);
  }
}
@include b(picker-pop){
  @include set-component-css-var(picker-pop, $picker-pop);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: getCssVar(picker-pop, spacing-padding);
  @include e('header'){
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    opacity: 0.7;
    @include m('caption'){
      margin-left: getCssVar(picker-pop, spacing-caption-margin-left);
    }
    @include m('right'){
      display: getCssVar(picker-pop, clear-display);
    }
  }
  @include e('content'){
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  @include e('search'){
    flex-shrink: 0;
    margin-top: getCssVar(picker-pop, spacing-search-margin-top);
    overflow: hidden;

    .van-field{
      padding: getCssVar(picker-pop, spacing-search-padding);

      --van-cell-background:#{getCssVar(picker-pop, color-search-bg)};

      .van-field__left-icon{
        display: flex;
        align-items: center;
        padding: getCssVar(picker-pop, spacing-search-icon-padding);
      }

      .van-field__value{        
        input{
          text-align: left;
        }
      }
    }
    
  }
  @include e('list'){
    flex: 1;
    overflow: auto;
    @include m('item'){
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: getCssVar(picker-pop, spacing-item-padding);
      border-bottom: getCssVar(picker-pop, border);
    }
    @include m('item-text'){
      color: getCssVar(picker-pop, color-item);
      background-color: getCssVar(picker-pop, color-item-bg);
      border-radius: getCssVar(picker-pop, radius-item);
      @include when('bkcolor'){
        padding: getCssVar(picker-pop, spacing-bg-item-padding);
      }
    }
    @include m('selected'){
      color: getCssVar(picker-pop, color-active);
    }
  }
}
