/* stylelint-disable length-zero-no-unit */
$signature: (
  min-height: rem(120px),
  width-remove: getCssVar('spacing', 'loose'),
  height-remove: getCssVar('spacing', 'loose'),
  color: getCssVar('color', 'text', 2),
  color-bg: getCssVar('color', 'bg', overlay),
  color-remove-bg: var(--van-uploader-delete-background),
  color-overlay-bg: getCssVar(color, bg, 1),
  spacing-safe: 0px,
  spacing-overlay-header-padding: getCssVar('spacing', 'extra-tight'),
  spacing-btn-padding: getCssVar('spacing', 'tight') getCssVar('spacing', 'loose'),
  spacing-btn-spacing: getCssVar('spacing', 'loose'),
  font-fontSize: getCssVar('font-size', 'header-6'),
  radius: getCssVar('border-radius', 'large'),
);

@include b('signature') {
  @include set-component-css-var('signature', $signature);

  position: relative;
  width: 100%;
  height: 100%;
  min-height: getCssVar('signature', 'min-height');
  overflow: hidden;
  border: none;
  border-radius: getCssVar('signature', 'radius');

  @include e('modal') {
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include m('background') {
      width: 100%;
      height: 100%;
      background-color: getCssVar('signature', 'color-bg');
      opacity: 0.1;
    }
    @include m('caption') {
      position: absolute;
      color: getCssVar('signature', 'color');
    }
    @include m('toolbar') {
      position: absolute;
      top: getCssVar('spacing', 'tight');
      right: getCssVar('spacing', 'tight');

      .van-button {
        width: getCssVar('signature', 'width-remove');
        height: auto;
        height: getCssVar('signature', 'height-remove');
        background-color: getCssVar('signature', 'color-remove-bg');
        border: none;
        opacity: 0.6;
      }
    }
  }

  @include e('content') {
    width: 100%;
    height: 100%;
    min-height: getCssVar('signature', 'min-height');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  // 只读逻辑，所有按钮不显示
  @include e('readonly') {
    .#{bem('signature__modal--toolbar')} {
      display: none;
    }
  }
}

@include b('signature-overlay') {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: getCssVar('signature', 'color-overlay-bg');
  opacity: 0;

  @include when('full-screen') {
    position: fixed;
    inset: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: 1;

    @include e('container') {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100vh - #{getCssVar('signature', 'spacing-safe')});
      height: 100vw;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: top left;
    }
    @include e('header') {
      position: absolute;
      z-index: 6;
      padding: getCssVar('signature', 'spacing-overlay-header-padding');
      text-align: left;
    }

    @include e('footer') {
      position: absolute;
      right: getCssVar('spacing', 'tight');
      bottom: getCssVar('spacing', 'base');
      z-index: 6;

      .van-button {
        height: auto;
        padding: getCssVar('signature', 'spacing-btn-padding');
        font-size: getCssVar('signature', font-fontSize);

        & + .van-button {
          margin-left: getCssVar('signature', 'spacing-btn-spacing');
        }
      }
    }

    @include e('pad') {
      $some-value: 100vw;
      $some-value2: 100vh;

      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: calc(100vh - #{getCssVar('signature', 'spacing-safe')});
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: top left;
    }
  }

  // 只读逻辑，所有按钮不显示
  @include when('readonly') {
    .#{bem('signature-overlay__header')},
    .#{bem('signature-overlay__footer')} {
      display: none;
    }

    .#{bem('signature-pad')} {
      pointer-events: none;
    }
  }

  // 禁用逻辑，不能再签名，按钮禁用
  @include when('disabled') {
    .#{bem('signature-pad')} {
      pointer-events: none;
    }
  }
}
