/* stylelint-disable order/properties-order */
$form-item-container: (
  // 颜色
  color-bg: getCssVar(color, bg, 2),
  color-underline: getCssVar(color, border),
  color-error: getCssVar(color, danger),

  // 宽度
  width-label: rem(130px),
  width-underline: calc(100% - getCssVar(spacing, base) * 2),
  width-border: calc(100% - getCssVar(spacing, base) * 2),

  // 高度
  height-underLine: getCssVar('border-thickness', 'control'),
  height-show-border-min-height: getCssVar(editor, default, line-height),

  // 间距
  spacing-container-padding: getCssVar(spacing, base),
  spacing-editor-padding: getCssVar(spacing, extra-tight) getCssVar(spacing, none)
  getCssVar(spacing, extra-tight) getCssVar(spacing, none),
  spacing-border-editor-padding: getCssVar(spacing, tight),

  // 圆角
  radius-border: getCssVar(border-radius, small),

  // 字体
  font-fontSize: getCssVar(font-size, header-6),
  font-lineHeight: getCssVar(editor, default, line-height),
  font-error-fontSize: getCssVar(font-size, regular),

  // 边框
  border: getCssVar('border-thickness', 'control') getCssVar(color, border) solid,
);

$form-item-label: (
  // 颜色
  color-text: getCssVar(color, text, 0),
  // 间距
  spacing-icon-gap: getCssVar(spacing, extra-tight),
);

$form-item-popover: (
  // 颜色
  color-link: getCssVar(color, link),
  // 间距
  spacing-padding: getCssVar(spacing, tight),
  spacing-cell-padding: getCssVar(spacing, extra-tight) getCssVar(spacing, tight),

  // 字体大小
  font-fontSize: getCssVar(font-size, header-6),

  // 边框
  border: getCssVar('border-thickness', 'control') solid getCssVar(color, border),
);

// 表单项基础样式
@include b(form-item-container) {
  @include set-component-css-var('form-item-container', $form-item-container);
  @include set-component-css-var('form-item-label', $form-item-label);

  position: relative;
  width: 100%;
  height: 100%;
  padding: getCssVar(form-item-container, spacing-container-padding);
  font-size: getCssVar(form-item-container, font-fontSize);
  background-color: getCssVar(form-item-container, color-bg);
  border-width: getCssVar(form-item-container, width-border);
  border-radius: getCssVar(form-item-container, radius-border);

  @include when(show-underLine) {
    &::after {
      position: absolute;
      z-index: 1;
      width: getCssVar(form-item-container, width-underline);
      height: getCssVar(form-item-container, height-underLine);
      content: '';
      background-color: getCssVar(form-item-container, color-underline);
      transform: scaleY(0.5);
    }
  }

  @include when(show-border) {
    .#{bem(form-item-container, editor)} {
      outline: getCssVar(form-item-container, border);
      min-height: calc(#{getCssVar(form-item-container, height-show-border-min-height)} + #{getCssVar(spacing, tight)} * 2);
      border-radius: getCssVar(form-item-container, radius-border);
      padding: getCssVar(form-item-container, spacing-border-editor-padding);
    }
  }

  @include e(popover) {
    &.van-popover {
      @include set-component-css-var('form-item-popover', $form-item-popover);

      font-size: getCssVar(form-item-popover, font-fontSize);

      table {
        border-spacing: 0;
        border-collapse: collapse;
      }

      table tr td,
      table tr th {
        border: getCssVar(form-item-popover, border);
        padding: getCssVar(form-item-popover, spacing-padding);
      }
    }

    @include m(content) {
      overflow: auto;
      max-height: 30vh;
      padding: getCssVar(form-item-popover, spacing-padding);

      a {
        color: getCssVar(form-item-popover, color-link);
      }
    }
  }

  @include e(label) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    width: getCssVar(form-item-container, width-label);
    overflow: visible;
    color: getCssVar(form-item-label, color-text);
    height: getCssVar(form-item-container, font-lineHeight);
    line-height: getCssVar(form-item-container, font-lineHeight);

    @include m('icon') {
      padding-right: getCssVar(form-item-label, spacing-icon-gap);
    }

    span {
      @include utils-ellipsis;

      display: inline-block;
      width: 100%;
      text-align: getCssVar(form-item-container, font-textAlign);
    }
  }

  // 编辑器
  @include e(editor) {
    width: 100%;
  }

  // 必填图标 *
  @include when(required) {
    @include e(label) {
      &::before {
        position: absolute;
        left: calc(-1 * getCssVar(spacing, tight));
        display: inline-block;
        color: getCssVar(form-item-container, color-error);
        content: '*';
      }
    }
  }

  // 错误border
  &.is-error {
    &::after {
      background-color: getCssVar(form-item-container, color-error);
    }
  }

  // 错误border
  &.is-error {
    @include b(form-item-container-content) {
      border-color: getCssVar(form-item-container, color-error);
    }
  }
}

@include b(form-item-container) {
  @include m(left) {
    .#{bem(form-item-container, editor)} {
      min-height: getCssVar(form-item-container, font-lineHeight);
    }

    &::after {
      bottom: 0;
    }
  }

  @include m(right) {
    .#{bem(form-item-container, editor)} {
      min-height: getCssVar(form-item-container, font-lineHeight);
    }

    &::after {
      bottom: 0;
    }

    // 必填图标 * 兼容右侧标题
    @include when(required) {
      @include e(label) {
        &::before {
          right: calc(-1 * getCssVar(spacing, tight));
          left: auto;
        }
      }
    }
  }
}

// label 和编辑器同一行时 编辑器宽度
@include b(form-item-container) {
  @include m(right) {
    @include e(editor) {
      position: relative;
      width: calc(100% - getCssVar('form-item-container', 'width-label'));
    }
  }

  @include m(left) {
    @include e(editor) {
      width: calc(100% - getCssVar('form-item-container', 'width-label'));
    }
  }

  @include m(top) {
    @include e(editor) {
      padding: getCssVar(form-item-container, spacing-editor-padding);
    }
  }

  @include m(bottom) {
    @include e(editor) {
      padding: getCssVar(form-item-container, spacing-editor-padding);
    }
  }

  @include e(label) {
  }
}

// border
@include b(form-item-container-content) {
  position: relative;
}

// 控制布局方向
.#{bem('form-item-container', '', 'left')},
.#{bem('form-item-container', '', 'right')} {
  .#{bem('form-item-container-content')} {
    height: 100%;

    @include flex(row, center, center);
  }
}

// 错误提示信息
@include b(form-item-container-error) {
  position: absolute;
  bottom: 0;
  width: getCssVar(form-item-container, width-underline);
  font-size: getCssVar('form-item-container', 'font-error-fontSize');
  line-height: getCssVar('form-item-container', 'font-fontSize');
  color: getCssVar('form-item-container', 'color-error');
  text-align: getCssVar(editor, default, text-align);
}
