$control-drtab: (
  color-tab-text: getCssVar('color', 'text', 0),
  color-tab-text-active: getCssVar('color', 'primary'),
  font-tab-fontSize: getCssVar('font-size', 'regular')
);

@include b(control-drtab) {
  @include set-component-css-var('control-drtab', $control-drtab);

  &.#{bem(tab-layout)} {
    #{getCssVarName('tab-layout', 'color-tab-text')}: getCssVar(
      control-drtab,
      color-tab-text
    );
    #{getCssVarName('tab-layout', 'color-tab-text-active')}: getCssVar(
      control-drtab,
      color-tab-text-active
    );
    #{getCssVarName('tab-layout', 'font-tab-fontSize')}: getCssVar(
      control-drtab,
      font-tab-fontSize
    );
  }
}
