$panel-button: (
  'color-login-btn-bg': getCssVar(color, primary),
  'color-login-btn-color': getCssVar(color, default),
  'spacing-content-gap': getCssVar(spacing, extra, tight),
  'font-login-btn-fontSize': getCssVar(font-size, header, 4),
  'width-content-icon-size': getCssVar(width-icon, medium),
);
@include b(panel-button) {
  @include set-component-css-var('panel-button', $panel-button);

  width: 100%;
  min-height: 100%;
  @include when('login-btn') {
    background-color: getCssVar(panel-button,color-login-btn-bg);
    color: getCssVar(panel-button, color-login-btn-color);
    font-size: getCssVar(panel-button, font-login-btn-fontSize);
  }

  @include b(panel-button-content) {
    @include flex(row, flex-start, center);
    gap: getCssVar(panel-button, spacing-content-gap);
    img,
    i {
      display: inline-block;
      max-width: getCssVar(panel-button, width-content-icon-size);
      max-height: getCssVar(panel-button, width-content-icon-size);
    }
  }
}
