$file-upload: (
  min-height: getCssVar(editor, default, line-height),
  width-icon: getCssVar('width-icon', 'large'),
  width-img: getCssVar('height-control', 'large'),
  width-remove: getCssVar('width-icon', 'large'),
  color-btn: getCssVar(color, text, 2),
  color-preview: getCssVar(color, disabled, bg),
  spacing-preview-gap: getCssVar(spacing, tight),
  spacing-preview-padding: 0 getCssVar(spacing, tight),
  spacing-img-padding: getCssVar(spacing, tight),
  spacing-preview-text-gap: getCssVar(spacing, tight),
  font-btn-fontSize: getCssVar(font-size, header-4),
  font-preview-fontSize: getCssVar(font-size, regular),
  font-textAlign: getCssVar(editor, default, text-align),
  radius-preview: getCssVar(border-radius, small),
  radius-img: getCssVar(border, radius, small),
  // 其它
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b('file-upload') {
  @include set-component-css-var(file-upload, $file-upload);

  display: flex;
  flex-direction: column;
  width: 100%;

  // 预览自己绘制
  .van-uploader__preview {
    display: none;
  }

  .van-uploader {
    width: 100%;
  }

  @include m(readonly) {
    .van-uploader {
      display: none;
    }
  }

  @include b('file-upload-button') {
    width: getCssVar(file-upload, width-icon);
    height: getCssVar(file-upload, width-icon);
    font-size: getCssVar(file-upload, font-btn-fontSize);
    color: getCssVar(file-upload, color-btn);
    background: transparent;
    border: none;
    border-radius: 50%;

    .van-button__icon {
      font-size: inherit;
    }
  }

  .van-uploader__preview {
    .van-uploader__file-icon {
      display: none;
    }

    .van-uploader__file-name {
      display: none;
    }
  }

  @include b(file-upload-preview) {
    width: 100%;
    margin-top: getCssVar(file-upload, spacing-preview-gap);
  }

  @include b(file-upload-preview-item) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: getCssVar(file-upload, spacing-preview-padding);
    margin-bottom: getCssVar(file-upload, spacing-preview-gap);
    background: getCssVar(file-upload, color-preview);
    border-radius: getCssVar(file-upload, radius-preview);

    &:last-child {
      margin: 0;
      border-width: 0;
    }
  }

  @include b(file-upload-preview-item-img) {
    flex-shrink: 0;
    width: getCssVar(file-upload, width-img);
    min-width: getCssVar(file-upload, width-img);
    height: getCssVar(file-upload, width-img);
    padding: getCssVar(file-upload, spacing-img-padding);

    img {
      width: 100%;
      height: 100%;
      border-radius: getCssVar(file-upload, radius-img);
    }
  }

  @include b(file-upload-preview-item-left) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: calc(100% - #{getCssVar(file-upload, width-remove)});
  }

  @include b(file-upload-preview-item-text) {
    display: flex;
    flex: 1;
    align-items: center;
    width: calc(100% - #{getCssVar(file-upload, width-img)} - #{getCssVar(file-upload, width-remove)});
    padding-left: getCssVar(file-upload, spacing-preview-text-gap);
    font-size: getCssVar(file-upload, font-preview-fontSize);
  }

  @include b(file-upload-preview-item-name) {
    @include utils-ellipsis;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include b(file-upload-preview-item-action) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    width: getCssVar(file-upload, width-remove);
    text-align: right;
  }

  .van-uploader__wrapper {
    display: flex;
    align-items: center;
    min-height: getCssVar(file-upload, min-height);
  }

  .van-uploader__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: getCssVar(file-upload, flex-justify-content);
    width: 100%;

    input {
      left: auto;
      width: getCssVar(file-upload, width-icon);
    }
  }

  // 单文件上传且存在值时，只显示文件
  @include when(single) {
    .van-uploader {
      display: none;
    }
    .#{bem(file-upload-preview)} {
      margin: 0;
    }
  }
}

@include b(form-item-container) {
  @include m(top) {
    @include b('file-upload') {
      .van-uploader {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
      }
    }
  }
}

@include b('file-upload') {
  @include m(readonly) {
    @include b(file-upload-preview) {
      margin-top: 0;
    }
  }
}

@include b('file-upload') {
  @include m(disabled) {
    @include b(file-upload-preview) {
      margin-top: 0;
    }
  }
}