$radio: (
  color: getCssVar(editor, default, text-color),
  color-disabled: getCssVar(editor, disabled, text-color),
  color-readonly: getCssVar(editor, readonly, text-color),
  spacing-gap: getCssVar(spacing, tight),
  font-fontSize: getCssVar(editor, default, font-size),
  font-lineHeight: getCssVar(editor, default, line-height),
  font-textAlign: getCssVar(editor, default, text-align),
  // 其它
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b('radio') {
  @include set-component-css-var(radio, $radio);

  height: 100%;
  font-size: getCssVar(radio, font-fontSize);
  line-height: getCssVar(radio, font-lineHeight);
  color: getCssVar(radio, color);

  --van-radio-size: #{getCssVar(radio, font-fontSize)};

  .van-radio--horizontal {
    margin-right: 0;
  }

  .van-radio-group--horizontal {
    gap: getCssVar(radio, spacing-gap);
  }

  .van-radio-group {
    height: 100%;
  }

  @include e('text') {
    font-size: getCssVar(radio, font-fontSize);
    line-height: getCssVar(radio, font-lineHeight);
    color: getCssVar(radio, color);
  }

  @include m(disabled) {
    @include e('text') {
      color: getCssVar(radio, color-disabled);
    }
  }

  @include m(readonly) {
    color: getCssVar(radio, color-readonly);
  }

  .van-radio-group--horizontal {
    display: flex;
    justify-content: getCssVar(radio, flex-justify-content);
  }
  &.#{bem('radio','','readonly')}{
    text-align: getCssVar(radio, font-textAlign);
  }
}
