$dropdown-list: (
  // 颜色
  color: getCssVar(editor, default, text-color),
  color-disabled: getCssVar(editor, disabled, text-color),
  color-readonly: getCssVar(editor, readonly, text-color),
  color-placeholder: getCssVar(editor, default, placeholder, color),
  color-active: getCssVar(color, primary, light, default),
  // 间距
  spacing-gap: getCssVar(spacing, tight),
  spacing-item-gap: getCssVar(spacing, tight),
  spacing-item-padding: 0 getCssVar(spacing, tight),
  // 字体
  font-fontSize: getCssVar(editor, default, font-size),
  font-lineHeight: getCssVar(editor, default, line-height),
  font-textAlign: getCssVar(editor, default, text-align),
  // 圆角
  radius-item: getCssVar(border-radius, small),
  // 其它
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b(dropdown-list) {
  @include set-component-css-var(dropdown-list, $dropdown-list);

  height: 100%;
  font-size: getCssVar(dropdown-list, font-fontSize);
  line-height: getCssVar(dropdown-list, font-lineHeight);
  color: getCssVar(dropdown-list, color);

  --van-field-input-text-color: #{getCssVar(dropdown-list, color)};
  --van-cell-text-color: #{getCssVar(dropdown-list, color)};
  --van-cell-value-color: #{getCssVar(dropdown-list, color)};
  --van-cell-line-height: #{getCssVar(dropdown-list, font-lineHeight)};
  --van-cell-font-size: #{getCssVar(dropdown-list, font-fontSize)};
  --van-cell-value-font-size: #{getCssVar(dropdown-list, font-fontSize)};

  .van-field__control {
    gap: getCssVar(dropdown-list, spacing-gap);
  }

  @include e('placeholder') {
    color: getCssVar(dropdown-list, color-placeholder);
  }

  @include m(disabled) {
    --van-field-input-text-color: #{getCssVar(editor, disabled, text-color)};
  }

  @include m(readonly) {
    color: getCssVar(dropdown-list, color-readonly);
    -webkit-text-fill-color: getCssVar(dropdown-list, color-readonly);
    text-align: getCssVar(dropdown-list, font-textAlign);
  }

  @include b(dropdown-list-select-item) {
    display: flex;
    gap: getCssVar(dropdown-list, spacing-item-gap);
    align-items: center;
    justify-content: space-between;
    padding: getCssVar(dropdown-list, spacing-item-padding);
    overflow: hidden;
    font-size: getCssVar(dropdown-list, font-fontSize);
    line-height: calc(getCssVar(dropdown-list, font-lineHeight) - #{rem(4px)});
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: getCssVar(dropdown-list, color-active);
    border-radius: getCssVar(dropdown-list, radius-item);

    @include e('text') {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include e('close') {
      flex-shrink: 0;
    }

    @include m('more') {
      flex-shrink: 0;
    }
  }

  .van-field__value {
    width: 100%;
  }

  .van-field__control--custom {
    display: flex;
    flex-direction: row;
    justify-content: getCssVar(dropdown-list, flex-justify-content);
  }
}

@include b(dropdown-list) {
  @include e(select) {
    &::after {
      display: none;
    }
  }

  .van-cell__title,
  .van-cell__value {
    text-align: left;
  }
}