$checkbox: (
  font-minHeight: getCssVar(editor, default, line-height),
  font-textAlign: getCssVar(editor, default, text-align),
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b(checkbox) {
  @include set-component-css-var(checkbox, $checkbox);

  display: flex;
  align-items: center;
  justify-content: getCssVar(checkbox, flex-justify-content);
  min-height: getCssVar(checkbox, font-minHeight);
}
