$control-captionbar: (
  // Color
  color-page-caption: getCssVar('view-page-caption', 'color'),
  color-sub-caption: getCssVar('color', 'text', 2),
  // Font
  font-page-caption-fontSize: getCssVar('view-page-caption', 'font-size'),
  font-sub-caption-fontSize: getCssVar('font-size', 'regular'),
  font-sub-main-fontSize: getCssVar('font-size', 'header-6'),
  font-caption-fontWeight: getCssVar('view-page-caption', 'font-weight'),
  font-caption-lineHeight: getCssVar('view-page-caption', 'line-height'),
  font-caption-textAlign: getCssVar('view-page-caption', 'text-align'),
  font-icon-width-fontSize: rem(20px),
  // Spacing
  spacing-padding: getCssVar('spacing', 'tight') 0,
  spacing-margin-right: getCssVar('spacing', 'tight') 0,

  // Height
  height-min-height: getCssVar('spacing', 'super-loose')
);

@include b(control-captionbar) {
  @include set-component-css-var(control-captionbar, $control-captionbar);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: getCssVar('control-captionbar', 'height-min-height');
  padding: getCssVar('control-captionbar', 'spacing-padding');

  @include when(hasSub) {
    @include b(control-captionbar-caption) {
      font-size: getCssVar('control-captionbar', 'font-sub-main-fontSize');
    }
  }

  @include e(icon) {
    display: inline;
    margin-right: getCssVar('control-captionbar', 'spacing-margin-right');
  }

  @include b(control-captionbar-caption) {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: getCssVar('control-captionbar', 'font-page-caption-fontSize');
    font-weight: getCssVar('control-captionbar', 'font-caption-fontWeight');
    line-height: getCssVar('control-captionbar', 'font-caption-lineHeight');
    color: getCssVar('control-captionbar', 'color-page-caption');
    text-align: getCssVar('control-captionbar', 'font-caption-textAlign');

    > span {
      @include utils-ellipsis;
    }

    @include b(icon) {
      flex-shrink: 0;
      width: getCssVar('control-captionbar', 'font-icon-width-fontSize');
      font-size: getCssVar('control-captionbar', 'font-icon-width-fontSize');
    }
  }

  @include b(control-captionbar-sub-caption) {
    @include utils-ellipsis;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: getCssVar('control-captionbar', 'font-sub-caption-fontSize');
    color: getCssVar('control-captionbar', 'color-sub-caption');
    text-align: getCssVar('control-captionbar', 'font-text-align');
  }
}
