$date-range-picker: (
  // 颜色
  color: getCssVar(editor, default, text-color),
  color-bg: transparent,
  color-placeholder: getCssVar(editor, default, placeholder, color),
  color-disabled: getCssVar(editor, disabled, text-color),
  color-readonly: getCssVar(editor, readonly, text-color),

  // 字体
  font-fontSize: getCssVar(editor, default, font-size),
  font-lineHeight: getCssVar(editor, default, line-height),
  font-textAlign: getCssVar(editor, default, text-align),
);

@include b(date-range-picker) {
  @include set-component-css-var(date-range-picker, $date-range-picker);

  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-size: getCssVar(date-range-picker, font-fontSize);
  line-height: getCssVar(date-range-picker, font-lineHeight);
  color: getCssVar(date-range-picker, color);
  text-align: getCssVar(date-range-picker, font-textAlign);

  --van-field-input-text-color: #{getCssVar(date-range-picker, color)};
  --van-cell-text-color: #{getCssVar(date-range-picker, color)};
  --van-cell-value-color: #{getCssVar(date-range-picker, color)};
  --van-cell-line-height: #{getCssVar(date-range-picker, font-lineHeight)};
  --van-cell-font-size: #{getCssVar(date-range-picker, font-fontSize)};
  --van-cell-value-font-size: #{getCssVar(date-range-picker, font-fontSize)};

  @include e(content) {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    min-height: getCssVar(date-range-picker, font-lineHeight);
    
    input {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }
    @include when(end) {
      .van-field {
        input {
          text-align: right;

          &::placeholder {
            text-align: right;
          }
        }
      }
    }
  }

  // 主要用于占位
  @include e(expand-hidden) {
    opacity: 0;
  }

  @include e(input) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .van-field {
    line-height: getCssVar(date-range-picker, font-lineHeight);

    &::after {
      display: none;
    }

    .van-field__control--custom {
      min-height: getCssVar(date-range-picker, font-lineHeight);
    }
  }

  input {
    width: 100%;
    padding: 0;
    font-size: getCssVar(date-range-picker, font-fontSize);
    line-height: getCssVar(date-range-picker, font-lineHeight);
    color: getCssVar(date-range-picker, color);
    background-color: getCssVar(date-range-picker, color-bg);
    border: none;
    box-shadow: none;
  }

  input::placeholder {
    color: getCssVar(date-range-picker, color-placeholder);
    -webkit-text-fill-color: getCssVar(date-range-picker, color-placeholder);
  }

  @include flex(row, center, center);

  @include m(disabled) {
    --van-field-input-text-color: #{getCssVar(date-range-picker, color-disabled)};

    color: getCssVar(date-range-picker, color-disabled);


    input {
      color: getCssVar(date-range-picker, color-disabled);
    }
  }

  @include m(readonly) {
    --van-field-input-text-color: #{getCssVar(date-range-picker, color-readonly)};

    color: getCssVar(date-range-picker, color-readonly);

    input {
      color: getCssVar(date-range-picker, color-readonly);
    }
  }
}
