/* action-toolbar 界面行为组工具栏 start */
$action-toolbar: (
  'color-separator-border-color': getCssVar('color', 'border'),
  'spacing-gap': getCssVar('spacing', 'extra-tight'),
  'width-separator-width': rem(2px),
);

/* action-toolbar 界面行为组工具栏 end */

@include b('action-toolbar') {
  @include set-component-css-var('action-toolbar', $action-toolbar);
  display: flex;
  flex-wrap: wrap;
  gap: getCssVar('action-toolbar', 'spacing-gap');

  // 分隔符样式
  @include e('separator') {
    display: inline-block;
    width: getCssVar('action-toolbar', 'width-separator-width');
    vertical-align: middle;
    background-color: getCssVar('action-toolbar', 'color-separator-border-color');

    // 第一个按钮前面的分隔符隐藏
    &:first-child {
      display: none;
    }
  }

  @include m('dropdown') {
    @include e(caption) {
      cursor: pointer;
    }

    @include e(caption-icon) {
      vertical-align: bottom;
    }
  }

  // 行为组样式
  .van-popover__wrapper {
    display: flex;
    align-items: center;
  }
}