$control-mobmdctrl: (
  // 颜色
  color-text: getCssVar(color, text, 0),
  color-active-bg: getCssVar(color, primary, light, default),
  color-group-bg: getCssVar(color, bg, 0),
  color-group-text: getCssVar(color, text, 1),
  // 宽高
  width-img: getCssVar(width-icon, extra-large),
  height-img: getCssVar(width-icon, extra-large),
  // 间距
  spacing-item-padding: getCssVar(spacing, tight) getCssVar(spacing, base),
  spacing-group-padding: getCssVar(spacing, tight) getCssVar(spacing, base),
  spacing-img-padding: getCssVar(spacing, tight),
  spacing-checkbox-gap: getCssVar('spacing', 'tight'),
  spacing-border-padding: getCssVar(spacing, base),
  // 圆角
  radius-img: getCssVar(border-radius, extra-small),
  // 字体
  font-fontSize: getCssVar(font-size, regular),
  font-group-fontSize: getCssVar(font-size, header-6),
  font-group-lineHeight: getCssVar(height-control, default),
);

@include b(control-mobmdctrl) {
  @include set-component-css-var(control-mobmdctrl, $control-mobmdctrl);

  height: 100%;
  position: relative;

  // 列表容器样式
  @include e(content) {
    width: 100%;
    height: 100%;
    overflow: getCssVar(control, overflow);

    @include when(show-under-line) {
      .van-hairline--bottom:after {
        left: calc(-50% + getCssVar(control-mobmdctrl, spacing-border-padding)*2);
        right: calc(-50% + getCssVar(control-mobmdctrl, spacing-border-padding)*2);
      }
    }
    .#{bem(add-more)} {
      padding: getCssVar(control-mobmdctrl, spacing-item-padding);
    }
  }

  // 启用分页，列表内容区需减去分页高度。分页时内容区出滚动条，避免滚动时页码偏移
  @include when(enable-page) {
    display: flex;
    flex-direction: column;
    .#{bem(control-mobmdctrl, content)} {
      flex: auto;
      height: 0;
    }
    .#{bem(control-mobmdctrl, pagination)} {
      flex: none;
    }
  }

  // 分页模式固定出滚动条，且没有回到顶部按钮
  @include when(scroll) {
    #{getCssVarName(control, overflow)}: unset auto;
    .#{bem(control-mobmdctrl, content)} {
      overflow: auto;
    }
  }

  @include when(hidden-finished) {
    // 启用分页时隐藏列表加载完成提示
    .van-list__finished-text {
      display: none;
    }
  }

  // 分组锚点容器样式
  @include e('anchor') {
    .van-index-anchor {
      padding: 0;
    }
  }
}

// 列表项样式
@include b(control-mobmdctrl-item) {
  // 部件为选择模式时，右侧复选框间距
  @include e(right) {
    margin-right: getCssVar(control-mobmdctrl, spacing-checkbox-gap);
  }

  // 增加权重，避免ui组件本身样式影响
  &.#{bem(control-mobmdctrl-item)} {
    color: getCssVar(control-mobmdctrl, color-text);
    height: auto;
    font-size: getCssVar(control-mobmdctrl, font-fontSize);
    padding: getCssVar(control-mobmdctrl, spacing-item-padding);
  }

  // 列表项选中样式
  @include when(active) {
    background-color: getCssVar(control-mobmdctrl, color-active-bg);
  }
}

// 列表项左侧图片样式，默认绘制并且项数据image存在路径值时生效
@include b(control-mobmdctrl-image) {
  width: getCssVar(control-mobmdctrl, width-img);
  height: getCssVar(control-mobmdctrl, height-img);
  margin-right: getCssVar(control-mobmdctrl, spacing-img-padding);
  border-radius: getCssVar(control-mobmdctrl, radius-img);
}

// 分组样式
@include b('control-mobmdctrl-group') {
  @include e('container') {
    width: 100%;
    height: auto;
  }

  // 分组标题样式
  @include e('caption') {
    padding: getCssVar(control-mobmdctrl, spacing-group-padding);
    font-size: getCssVar(control-mobmdctrl, font-group-fontSize);
    line-height: getCssVar(control-mobmdctrl, font-group-lineHeight);
    color: getCssVar(control-mobmdctrl, color-group-text);
    background-color: getCssVar(control-mobmdctrl, color-group-bg);
  }
}

// 部件为选择模式并且项为布局面板时的列表项样式
@include b(control-mobmdctrl-select-item) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: getCssVar(control-mobmdctrl, spacing-item-padding);

  @include e(left) {
    margin-right: getCssVar(control-mobmdctrl, spacing-checkbox-gap);
    flex-shrink: 0;
  }
  @include when(active) {
    background-color: getCssVar(control-mobmdctrl, color-active-bg);
    // 激活项背景无需重复添加，防止背景色重叠
    .#{bem(control-mobmdctrl-item)} {
      background-color: transparent;
    }
  }

  .#{bem(control-mobmdctrl-item)} {
    flex-grow: 1;
    padding: 0;
    overflow-x: hidden;
  }
}

// 列表项左滑行为组与右滑行为组样式
@include b('control-mobmdctrl-slider-item') {
  .van-swipe-cell__right {
    > .van-button {
      height: 100%;
      border-color: getCssVar(view, bg, color);
    }
  }
  .van-swipe-cell__left {
    &::after {
      content: '';
      display: inline-block;
      width: 1px;
    }
    > .van-button {
      height: 100%;
      border-color: getCssVar(view, bg, color);
    }
  }
}

// 快速工具栏样式
@include b(control-mobmdctrl-quicktoolbar) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 兼容下拉视图刷新样式
.#{bem(view-content-refresh)} {
  .#{bem(control-mobmdctrl)}.is-enable-page {
    position: relative;
    .#{bem(control-mobmdctrl, content)} {
      height: auto;
    }
    .#{bem(control-mobmdctrl, pagination)} {
      position: sticky;
      bottom: 0;
      width: 100%;
      background-color: getCssVar(color, bg, 1);
    }
  }
}
