$range-picker:(
  // 颜色
  color-input-background: getCssVar(color, fill, 3),
  color-input-label-text: getCssVar(color, tertiary),
  color-input-input-bg: getCssVar(color, fill, 3),
  color-input-show-input-text: getCssVar(color, primary),
  color-input-border-active: getCssVar(color, primary),
  color-input-border-error: getCssVar(color, danger),
  color-calendar-input-error-text: getCssVar(color, danger),
  // 间距
  spacing-calendar-input-gap: getCssVar(spacing, base),
  spacing-input-padding: getCssVar(spacing, base),
  spacing-input-margin-top: getCssVar(spacing, base),
  spacing-input-input-margin-top: getCssVar(spacing, base),
  spacing-input-show-input-margin-top: getCssVar(spacing, base),
  spacing-calendar-input-error-top: getCssVar(spacing, tight),
  // 字体大小
  font-input-show-input-fontSize: getCssVar(font-size, small),
  font-input-label-fontSize: getCssVar(font-size, header, 4),
  font-calendar-input-error-fontSize: getCssVar(font-size, small),
  // 其他
  border-focus-border-bottom: rem(1px) solid getCssVar(range-picker, color-input-border-active),
  border-error-border-bottom: rem(1px) solid getCssVar(range-picker, color-input-border-error),
);
@include b('range-picker-calendar-input') {
  @include set-component-css-var('range-picker',$range-picker);

    display: flex;
    gap: getCssVar(range-picker, spacing-calendar-input-gap);
    justify-content: center;
    width: 100vw;
  
    @include e('start') {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: left;
      max-width: 40%;
      padding: getCssVar(range-picker, spacing-input-padding);
      margin-top: getCssVar(range-picker, spacing-input-margin-top);
      text-align: left;
      background-color: getCssVar(range-picker,color-input-background);
  
      @include m('label') {
        position: absolute;
        top: 50%;
        z-index: 1;
        font-size: getCssVar(range-picker, font-input-label-fontSize);
        color: getCssVar(range-picker,color-input-label-text);
        transition: all linear 0.1s;
        transform: translateY(-50%);
      }
      @include m('input') {
        margin-top: getCssVar(range-picker, spacing-input-input-margin-top);
        background-color: getCssVar(range-picker,color-input-input-bg);
        opacity: 0;
      }
      @include when('show-input') {
        .#{bem('range-picker-calendar-input','start')} {
          @include m('label') {
            position: absolute;
            top: 0%;
            margin-top: getCssVar(range-picker, spacing-input-show-input-margin-top);
            font-size: getCssVar(range-picker, font-input-show-input-fontSize);
            color: getCssVar(range-picker, color-input-show-input-text);
            transform: unset;
          }
          @include m('input') {
            opacity: 1;
          }
        }
      }
      @include when('focus') {
        border-bottom: getCssVar(range-picker, border-focus-border-bottom);
      }
      @include when('error') {
        border-bottom: getCssVar(range-picker, border-error-border-bottom);
        .#{bem('range-picker-calendar-input','start')} {
          @include m('label') {
            color: getCssVar(range-picker, color-input-border-error);
          }
        }
      }
    }
    @include e('end') {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: left;
      max-width: 40%;
      padding: getCssVar(range-picker, spacing-input-padding);
      margin-top: getCssVar(range-picker, spacing-input-margin-top);
      text-align: left;
      background-color: getCssVar(range-picker,color-input-background);
  
      @include m('label') {
        position: absolute;
        top: 50%;
        z-index: 1;
        font-size: getCssVar(range-picker, font-input-label-fontSize);
        color: getCssVar(range-picker,color-input-label-text);
        transition: all linear 0.1s;
        transform: translateY(-50%);
      }
      @include m('input') {
        margin-top: getCssVar(range-picker, spacing-input-input-margin-top);
        background-color: getCssVar(range-picker,color-input-input-bg);
        opacity: 0;
      }
      @include when('show-input') {
        .#{bem('range-picker-calendar-input','end')} {
          @include m('label') {
            position: absolute;
            top: 0%;
            margin-top: getCssVar(range-picker, spacing-input-show-input-margin-top);
            font-size: getCssVar(range-picker, font-input-show-input-fontSize);
            color: getCssVar(range-picker, color-input-show-input-text);
            transform: unset;
          }
          @include m('input') {
            opacity: 1;
          }
        }
      }
      @include when('focus') {
        border-bottom: getCssVar(range-picker, border-focus-border-bottom);
      }
      @include when('error') {
        border-bottom: getCssVar(range-picker, border-error-border-bottom);
        .#{bem('range-picker-calendar-input','end')} {
          @include m('label') {
            color: getCssVar(range-picker, color-input-border-error);
          }
        }
      }
    }
  
    @include e('error') {
      position: absolute;
      top: calc(100% + getCssVar(range-picker,spacing-calendar-input-error-top));
      font-size: getCssVar(range-picker, font-calendar-input-error-fontSize);
      color: getCssVar(range-picker, color-calendar-input-error-text);
      white-space: pre-line;
    }
  }