$control-toolbar: (
  width-icon-min-width: 1em,
  height-bottom-item: getCssVar('height-control', 'large'),
  color-disabled-text: getCssVar(color, disabled, text),
  color-disabled-bg: getCssVar(color, disabled, bg),
  spacing-gap: getCssVar('spacing', 'tight'),
  spacing-badge-margin: 0 0 0 getCssVar('spacing', 'extra-tight'),
  spacing-bottom-padding: getCssVar('spacing', 'base-tight')
    getCssVar('spacing', 'base'),
  font-fontSize: getCssVar('font-size', 'regular'),
  font-left-fontSize: getCssVar('font-size', 'header-6'),
  font-right-fontSize: getCssVar('font-size', 'header-6')
);

@include b('control-toolbar') {
  @include set-component-css-var('control-toolbar', $control-toolbar);

  display: flex;
  flex-wrap: wrap;
  gap: getCssVar('control-toolbar', 'spacing-gap');
  height: 100%;

  // 项容器样式
  @include e('item') {
    display: flex;
    align-items: center;
  }

  // 分组项容器样式
  @include e('group') {
    display: flex;
    align-items: center;
  }

  // 行为组展开模式
  // 首项+分组展开项容器样式
  @include e('group-itemx') {
    display: flex;
    align-items: center;

    .van-button:nth-child(1) {
      border-right-color: transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .van-button:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .van-button__text {
    display: flex;
    align-items: center;
  }

  // 工具栏项内容样式（分组项、行为项）
  .#{bem(control-toolbar-item)} {
    #{getCssVarName('info-item', 'spacing-badge-margin')}: getCssVar(
      'control-toolbar',
      'spacing-badge-margin'
    );
    font-size: getCssVar('control-toolbar', 'font-fontSize');
    white-space: nowrap;
  }
}

// 左侧工具栏样式
@include b('control-toolbar-left') {
  .van-button {
    border: none;
  }
  .#{bem(control-toolbar-item)} {
    font-size: getCssVar('control-toolbar', 'font-left-fontSize');
  }
}

// 右侧工具栏样式
@include b('control-toolbar-right') {
  justify-content: flex-end;

  .van-button {
    border: none;
  }

  .#{bem(control-toolbar-item)} {
    font-size: getCssVar(
      'control-toolbar',
      'font-right-fontSize'
    );
  }
}

// 底部工具栏样式
@include b('control-toolbar-bottom') {
  display: flex;
  padding: getCssVar('control-toolbar', 'spacing-bottom-padding');

  .#{bem(control-toolbar, item)} {
    flex: 1;

    &:nth-child(1) {
      margin-left: 0;
    }

    .van-button {
      width: 100%;
      height: getCssVar('control-toolbar', 'height-bottom-item');
    }
  }
}

// 工具栏分组列表模态框样式
@include b('toolbar-group-list') {
  @include set-component-css-var('control-toolbar', $control-toolbar);
}

// 自定义模态框样式
@include b('control-toolbar-float-toolbar-modal') {
  &.#{bem(popover)} {
    background-color: unset;
    border: none;
    box-shadow: unset;
  }
}


// 分组气泡样式
@include b('toolbar-group-modal-popover') { 
  &.#{bem(popover)} {
    overflow: hidden;
    border: none;
    border-radius: getCssVar(border, radius, medium);
  }
}