$form-group: (
  color-bg: getCssVar(color, bg, 1),
  color-more: getCssVar(color-primary),
  color-loading-bg: rgba(var(#{getCssVarName(grey, 9)}), 0.1),
  color-button: getCssVar(color, link),
  spacing-padding: getCssVar(spacing-extra-tight),
  spacing-footer-padding: getCssVar(spacing, tight) getCssVar(spacing, base),
);

$form-group-header: (
  color-bg: getCssVar(color, bg, 0),
  color-border: getCssVar(color, border),
  spacing-padding: getCssVar(spacing, base),
);

$form-group-caption: (
  color-text: getCssVar(color, text, 1),
  spacing-icon-gap: getCssVar(spacing, tight),
  font-fontSize: getCssVar(font-size, header-6),
  font-fontWeight: getCssVar(font-weight, regular),
  font-lineHeight: var(--van-cell-group-title-line-height),
);

$form-group-content: (
  color-bg: getCssVar(color, bg, 1),
  spacing-padding: 0,
  spacing-margin: 0,
);

@include b(form-group) {
  @include set-component-css-var('form-group', $form-group);
  @include set-component-css-var('form-group-header', $form-group-header);
  @include set-component-css-var('form-group-caption', $form-group-caption);
  @include set-component-css-var('form-group-content', $form-group-content);
}

// 分组基础样式
@include b(form-group) {
  overflow: hidden;
  background-color: getCssVar('form-group', 'color-bg');

  // 分组标题
  @include e(caption) {
    @include utils-ellipsis;

    font-size: getCssVar('form-group-caption', 'font-fontSize');
    font-weight: getCssVar('form-group-caption', 'font-fontWeight');
    line-height: getCssVar('form-group-caption', 'font-lineHeight');
    color: getCssVar('form-group-caption', 'color-text');

    @include m('icon') {
      padding-right: getCssVar('form-group-caption', 'spacing-icon-gap');
    }
  }

  // 工具栏
  @include e(toolbar) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0;
  }

  @include e(content) {
    padding: getCssVar('form-group-content', 'spacing-padding');
  }

  @include m(style2) {
    padding: getCssVar('form-group', 'spacing-padding');
    background-color: getCssVar('form-group-header', 'color-bg');

    >.#{bem(form-group-header)} {
      background-color: getCssVar('form-group-content', 'color-bg');
      border-bottom: 1px solid getCssVar('form-group-header', 'color-border');
    }

    .#{bem(form-group, content)} {
      background-color: getCssVar('form-group-content', 'color-bg');
    }
  }

  @include e(loading) {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getCssVar('form-group', 'color-loading-bg');
  }

  @include when(loading) {
    position: relative;
  }
}

// 清除分组下form-item的弧度
@include b(form-group) {
  @include b(form-item-container) {
    border-radius: 0;
  }
}

// 折叠相关样式
@include b(form-group-collapse) {
  >.#{bem(form-group__content)} {
    display: block;
  }

  @include when(collapse) {
    >.#{bem(form-group-header)} {
      border-bottom: none;
    }

    >.#{bem(form-group__content)} {
      display: none;
    }
  }
}

// 分组头部
@include b(form-group-header) {
  @include flex;

  align-items: center;
  padding: getCssVar('form-group-header', 'spacing-padding');
  background-color: getCssVar('form-group-header', 'color-bg');

  @include e((left, right)) {
    display: inline-block;
    width: 50%;
  }

  @include e(right) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .van-button {
      height: 100%;
      color: getCssVar('form-group', 'color-button');
      background: transparent;
      border: none;
    }
  }
}

.#{bem('form-group', '', 'show-header')} {
  >.#{bem('form-group, content')} {
    margin-bottom: getCssVar('form-group-content', 'spacing-margin');
    background-color: getCssVar('form-group-content', 'color-bg');
  }
}

// 分组底部
@include b(form-group-footer) {
  padding: getCssVar('form-group', 'spacing-footer-padding');

  @include e(show-more-button) {
    display: inline-block;
    color: getCssVar('form-group', 'color-more');
  }

}