$image-select: (
  width: var(--van-uploader-size),
  font-textAlign: getCssVar(editor, default, text-align),
  radius: getCssVar(border, radius, small),
  // 其它
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b('image-select') {
  @include set-component-css-var(image-select, $image-select);

  display: flex;
  flex-direction: row;
  justify-content: getCssVar(image-select, flex-justify-content);

  .van-uploader__preview {
    .van-uploader__file-icon {
      display: none;
    }

    .van-uploader__file-name {
      display: none;
    }
  }

  @include b(image-select-item-cover) {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: .12rem;
    line-height: initial;
    color: #fff;
    text-align: center;
    background: transparent;

    img {
      width: 100%;
      height: 100%;
      border-radius: getCssVar(image-select, radius);
    }
  }

  .van-uploader__preview {
    width: 100%;
    height: 100%;
  }

  .van-uploader__preview:nth-last-of-type(2) {
    margin-right: 0;
  }

  .van-uploader {
    width: getCssVar(image-select, width);
    height: 100%;
  }
}