$control-drbar: (
  max-width: rem(100px),
  width-icon: getCssVar(width-icon, medium),
  height-popover-item: var(--van-popover-action-height),
  color: getCssVar(color, text-2),
  color-bg: getCssVar(view, bg-color),
  color-active: getCssVar(color, primary),
  color-disabled-text: getCssVar(color, disabled, text),
  color-disabled-bg: getCssVar(color, disabled, bg),
  spacing-padding: getCssVar(spacing, tight),
  spacing-gap: getCssVar(spacing, tight),
  spacing-group-gap: getCssVar(spacing, extra-tight),
  spacing-group-padding: getCssVar(spacing, tight),
  spacing-popover-padding: 0 getCssVar(spacing, base-loose),
  font-fontSize: getCssVar(font-size, header-4),
  font-popover-fontSize: getCssVar(font-size, header-5),
);

@include b(control-drbar) {
  @include set-component-css-var(control-drbar, $control-drbar);
  padding: getCssVar(control-drbar, spacing-padding);
  background-color: getCssVar(control-drbar, color-bg);

  .van-button {
    border: none;
    height: 100%;
    background-color: transparent;

    .van-button__text {
      display: flex;
      align-items: center;
      line-height: getCssVar(control-drbar, font-fontSize);
      font-size: getCssVar(control-drbar, font-fontSize);
      gap: getCssVar(control-drbar, spacing-gap);
    }
  }

  @include e(default) {
    width: auto;
    max-width: getCssVar(control-drbar, max-width);
    .#{bem(icon)} {
      @include flex(row, center, center);

      width: getCssVar(control-drbar, width-icon);
      height: getCssVar(control-drbar, width-icon);
      font-size: getCssVar(control-drbar, width-icon);
    }
    @include m(group) {
      color: getCssVar(control-drbar, color);
      padding: getCssVar(control-drbar, spacing-group-padding);
    }
    @include m(group-title) {
      display: flex;
      align-items: center;
      gap: getCssVar(control-drbar, spacing-group-gap);
    }
    @include m(item-title) {
      display: flex;
      align-items: center;
      gap: getCssVar(control-drbar, spacing-group-gap);
    }
  }

  @include e(popover) {
    @include set-component-css-var(control-drbar, $control-drbar);
    @include m(group) {
      display: flex;
      cursor: pointer;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      height: getCssVar(control-drbar, height-popover-action);
      padding: getCssVar(control-drbar, spacing-popover-padding);
      font-size: getCssVar(control-drbar, font-popover-fontSize);
      gap: getCssVar(control-drbar, spacing-gap);
      color: getCssVar(control-drbar, color);
    }
    @include m(item) {
      display: flex;
      cursor: pointer;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      height: getCssVar(control-drbar, height-popover-item);
      padding: getCssVar(control-drbar, spacing-popover-padding);
      font-size: getCssVar(control-drbar, font-popover-fontSize);
      gap: getCssVar(control-drbar, spacing-gap);

      .#{bem(icon)} {
        @include flex(row, center, center);

        width: getCssVar(control-drbar, width-icon);
        height: getCssVar(control-drbar, width-icon);
        font-size: getCssVar(control-drbar, width-icon);
      }

      .caption {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: getCssVar(control-drbar, spacing-gap);
      }

      ion-icon {
        color: getCssVar(control-drbar, color-active);
      }

      @include when(disabled) {
        cursor: not-allowed;
        pointer-events: none;
        color: getCssVar(color, color-disabled-text);
        background-color: getCssVar(color, color-disabled-bg);
      }
    }
  }
}
