$panel-tab-panel: (
  height-tabs-content: calc(100% - var(--van-tabs-line-height)),
);
@include b('panel-tab-panel') {
  @include set-component-css-var('panel-tab-panel', $panel-tab-panel);
  height: 100%;

  .van-tabs__content {
    height: getCssVar(panel-tab-panel, height-tabs-content);
  }

  .van-tab__panel {
    height: 100%;
  }
}
