$single-picker:(
  // 颜色
  color-picker-container-bg: getCssVar(color, fill, 3),
  color-picker-show-input-active: getCssVar(color, primary),
  color-picker-error: getCssVar(color, danger),
  color-picker-label-text: getCssVar(color, tertiary),
  color-picker-input-background-color: getCssVar(color, fill, 3),
  // 间距
  spacing-picker-padding: getCssVar(spacing, base),
  spacing-picker-input-padding: getCssVar(spacing, base),
  spacing-picker-show-input-label-left: getCssVar(spacing, base),
  spacing-picker-margin-top: getCssVar(spacing, base),
  spacing-picker-show-input-label-margin-top: getCssVar(spacing, base),
  spacing-picker-error-top: getCssVar(spacing, tight),
  // 字体
  font-picker-show-input-label-fontSize: getCssVar(font-size, small),
  font-picker-label-fontSize: getCssVar(font-size, header, 4),
  font-picker-error-fontSize: getCssVar(font-size, small),
  // 其他
  border-show-input-border-bottom: rem(1px) solid getCssVar(color, primary),
  border-error-border-bottom: rem(1px) solid getCssVar(color, danger),
);
@include b('single-picker') {
  @include set-component-css-var('single-picker',$single-picker);

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: getCssVar(single-picker, spacing-picker-padding);
  margin-top: getCssVar(single-picker, spacing-picker-margin-top);
  @include e('container') {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    width: 100%;
    padding: getCssVar(single-picker, spacing-picker-padding);
    margin-top: getCssVar(single-picker, spacing-picker-margin-top);
    text-align: left;
    background-color: getCssVar(single-picker, color-picker-container-bg);
    @include when('show-input') {
      border-bottom: getCssVar(single-picker, border-show-input-border-bottom);
      @include e('input') {
        opacity: 1;
      }
      @include e('label') {
        opacity: 1;
        left: getCssVar(single-picker, spacing-picker-show-input-label-left);
        top: 0%;
        margin-top: getCssVar(single-picker, spacing-picker-show-input-label-margin-top);
        font-size: getCssVar(single-picker, font-picker-show-input-label-fontSize);
        color: getCssVar(single-picker, color-picker-show-input-active);
        transform: unset;
      }
    }
    @include when('error'){
        border-bottom: getCssVar(single-picker, border-error-border-bottom);
        @include e('label') {
            color: getCssVar(single-picker, color-picker-error);
        }
    }
  }

  @include e('label') {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    font-size: getCssVar(single-picker, font-picker-label-fontSize);
    color: getCssVar(single-picker, color-picker-label-text);
    transition: all linear 0.1s;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  @include e('input') {
    margin-top: getCssVar(single-picker, spacing-picker-input-padding);
    background-color: getCssVar(single-picker, color-picker-input-background-color);
    opacity: 0;
  }
  @include e('error') {
    position: absolute;
    top: calc(100% + getCssVar(single-picker, spacing-picker-error-top));
    font-size: getCssVar(single-picker, font-picker-error-fontSize);
    color: getCssVar(single-picker, color-picker-error);
    white-space: pre-line;
  }
}
