$async-action-tab: (
  // 间距
  spacing-action-tab-item-padding: getCssVar('spacing', 'tight') 0,
  // 高度
  height-load-more-height: rem(30px),
  height-action-tab-item-min-height: rem(60px),
);

@include b(async-action-tab) {
  @include set-component-css-var('async-action-tab', $async-action-tab);

  width: 100%;
  height: 100%;
  overflow: hidden auto;

  @include e(item){
    min-height: getCssVar(async-action-tab, action-tab-item-min-height);
    padding: getCssVar(async-action-tab, spacing-action-tab-item-padding)
  }

  @include e(nodata){
    @include flex(row, center, center);

    height: calc(100% - getCssVar(async-action-tab, height-load-more-height))
  }

  @include e(load-more){
    height: getCssVar(async-action-tab, height-load-more-height);
    line-height: getCssVar(async-action-tab, height-load-more-height);
    text-align: center;

    &:hover{
      color: getCssVar(color, primary, hover);
      cursor: pointer;
    }
  }
}