$image-upload: (
  color-remove: var(--van-uploader-delete-color),
  color-remove-bg: var(--van-uploader-delete-background),
  radius: getCssVar(border, radius, small),
  opacity-remove: 0.6,
  border: getCssVar('border-thickness', 'control') solid getCssVar(color, border),
  font-textAlign: getCssVar(editor, default, text-align),
  font-icon-fontSize: var(--van-uploader-delete-icon-size),
  // 其它
  flex-justify-content: getCssVar(editor, default, flex-justify-content),
);

@include b('image-upload') {
  @include set-component-css-var(image-upload, $image-upload);

  .van-uploader__preview {
    .van-uploader__file-icon {
      display: none;
    }

    .van-uploader__file-name {
      display: none;
    }
  }

  @include b(image-upload-item-cover) {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: initial;
    text-align: center;
    background: transparent;

    img {
      width: 100%;
      height: 100%;
      border-radius: getCssVar(image-upload, radius);
    }
  }

  .van-uploader {
    display: flex;
    flex-direction: row;
    justify-content: getCssVar(image-upload, flex-justify-content);
  }

  .van-uploader__preview-delete--shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: getCssVar(image-upload, font-icon-fontSize);
    height: getCssVar(image-upload, font-icon-fontSize);
    text-align: center;
    background: getCssVar(image-upload, color-remove-bg);
    border-radius: 50%;
    opacity: getCssVar(image-upload, opacity-remove);
    transform: translate(50%, -50%);
  }
  
  .van-uploader__preview-delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: getCssVar(image-upload, font-icon-fontSize);
    color: getCssVar(image-upload, color-remove);
    transform: scale(0.7) translate(0%, -10%);
  }
  
  .van-uploader__upload {
    margin-right: 0;
    background: transparent;
    border: getCssVar(image-upload, border);
    border-radius: getCssVar(image-upload, radius);
  }
  
  .van-uploader__upload--readonly {
    display: none;
  }

  @include m(readonly) {
    .van-uploader__preview:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
}

@include b(panel-field) {
  @include b(panel-field-content) {
    height: 100%;

    // 特殊适配
    .van-uploader {
      width: 100%;
      height: 100%;
    }

    .van-uploader__wrapper {
      height: 100%;
    }
  }
}
